 {% extends "base.html" %}

 {% load static %}

 {% block body%}
<div class="container">
  <div class="row">
       <div class="col-lg">
            <h1 class="hd2">Unforgettable Travel Experience </h1><h1 class="hd2_1">Await-Choose Your Package</h1>
       </div>
       <div class="row">
            <div class="col-lg-4 col-sm-6">
                 <img src="{% static 'Image/singapore .jpg' %}" class="img2">
                 <div class=" d-flex justify-content-between">
                  <a href="{% url 'motel:singapor' %}" ><button class="btn btn-light btn-outline-success mt-1">Detail</button></a>
                 <h5 class="hd3">Singapore</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <img src="{% static 'Image/maldives.jpeg' %}" class="img2_1">
                 <div class=" d-flex justify-content-between">
                  <button class="btn btn-light btn-outline-success mt-1">Detail</button>
                 <h5 class="hd3">Maldives</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <img src="{% static 'Image/thailand.jpg' %}" class="img2_2">
                 <div class=" d-flex justify-content-between">
                  <button class="btn btn-light btn-outline-success mt-1">Detail</button>
                 <h5 class="hd3">Thailand</h5>
                </div>
            </div>
       </div>
  </div>
</div>
<div class="container">
    <div class="row">
       <div class="col-lg-4 div10">
        <button class="bt2">  <i class="bi bi-car-front icon8"></i></button>
        <button class="bt2"> <span class="material-symbols-outlined">
           airline_seat_individual_suite
           </span></button>
           <button class="bt2"><span class="material-symbols-outlined">
             restaurant
             </span></button>
        <button class="bt2"> <i class="bi bi-eye-fill"></i></button>
       </div>
       <div class="col-lg-4 div10">
        <button class="bt2">  <i class="bi bi-car-front"></i></button>
       <button class="bt2"> <span class="material-symbols-outlined">
          airline_seat_individual_suite
          </span></button>
          <button class="bt2"><span class="material-symbols-outlined">
            restaurant
            </span></button>
       <button class="bt2"> <i class="bi bi-eye-fill"></i></button>
       </div>
       <div class="col-lg-4 div10">
        <button class="bt2">  <i class="bi bi-car-front"></i></button>
       <button class="bt2"> <span class="material-symbols-outlined">
          airline_seat_individual_suite
          </span></button>
          <button><span class="material-symbols-outlined">
            restaurant
            </span></button>
       <button class="bt2"> <i class="bi bi-eye-fill"></i></button>
       </div>
    </div>
</div>
<div class="container ct1">
    <div class="row">
        <div class="col-lg-2 div11">
            <p class="p2"><i class="bi bi-calendar"></i>8Days,7Nights</p>
         </div>
         <div class="col-lg-2 div11">
          <p class="p2_1">INR 39,000/-</p>
         </div>
        <div class="col-lg-2 div11">
            <p class="p2"><i class="bi bi-calendar"></i>8Days,7Nights</p>
         </div>
         <div class="col-lg-2 div11">
          <p class="p2_1">INR 39,000/-</p>
         </div>
        <div class="col-lg-2 div11">
            <p class="p2"><i class="bi bi-calendar"></i>8Days,7Nights</p>
         </div>
         <div class="col-lg-2 div11">
          <p class="p2_1">INR 39,000/-</p>
         </div>

    </div>
</div>
<div class="container-fluid cf1">
   <div class="row">
      <div class="col-lg-2 div6">
         <!-- <div class="div6"></div> -->
      </div>
      <div class="col-lg-2 div6">
        <i class="bi bi-people icon6"></i>
        <p class="p3">+5000 Customers</p>
          <p class="p4"></p>

        
      </div>
      <div class="col-lg-2 div6">
        <i class="bi bi-award icon6"></i><P class="p3"> Best Price
          <!-- <p class="p4">20In Industry</P></p> -->

      
      </div>
      <div class="col-lg-2 div6">
        <i class="bi bi-clock-history icon6"></i>
        <p class="p3">24x7</p>
          <!-- <p class="p4">Customer Service</p> -->
        
      </div>
      <div class="col-lg-2 div6">
        <i class="bi bi-calendar-check icon6"></i><p class="p3">Hassle Free</p>
          <!-- <p >Bookings</p> -->
        
         
      </div>
      <div class="col-lg-2 div6">
        
      </div>
   </div>
<div class="container ct2">
   <div class="row">
       <div class="col-lg-6">
         <div class="row">
          <h1 class="hd4">Discover RountD'<br> Planet Tours and Travels</h1>
        </div>
          <p class="p_1">Welcome to RountD' planet tours and travels,your passport to a world of extraordinary adventures and unforgettable journeys with a passion for exploration and a commitment to providing exceptional travel experiences.At RoundtS' planet,We understand that travel is not just about reaching a destination,it's about discovering the world,embracing diverse culteres,and creating cherished memories.

            Our dedicated team of travel experts is here to turn your wanderlust dreams into reality.Whether you are seeking a tropical paradise a historical odyssey, or an off-the-beaten-patRoundtD' planet Tours and travels be your guids to the world's most incredible destinations Your adventure awaits!</p>
            <button class="bt3">Read more</button>
       </div>
       <div class="col-lg-6">
           <div class="div7"> <img src="{% static 'image/snow.webp' %} "class="img3" alt="snow"></div>
       </div>
   </div>
  </div>
</div>
<div class="container ct3">
   <div class="row">
      <div class="col-lg">
          <h1 class="hd5">Testimonials:Hear what </h1>
          <h1 class="hd5_1">Our Delighted Travelers have to stay</h1>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
       <div class="col-lg-4 div12">
          <i class="bi bi-star-fill icon7"></i>
          <i class="bi bi-star-fill icon7"></i>
          <i class="bi bi-star-fill icon7"></i>
          <i class="bi bi-star "></i>
          <i class="bi bi-star "></i>
           <p class="p4">Lorem ipsum dolor sit amet, consecteture adipiscing elit praesent vulputate vel massa quis imperdiet.Nam efficitur eros vel tortor vulputate mattis nuilam leo mauris,rhoncus.....</p>
           <div class="row div9">
               <div class="col-lg-4">
                  <img src="{% static 'image/Alex-Hagstrom.jpg' %} "class="img4">
               </div>
               <div class="col-lg-4">
                <h3 class="hd6">John doe</h3>

           </div>
           </div>
       </div> 
       <div class="col-lg-4 div12">
        <i class="bi bi-star-fill icon7"></i>
        <i class="bi bi-star-fill icon7"></i>
        <i class="bi bi-star-fill icon7"></i>
        <i class="bi bi-star "></i>
        <i class="bi bi-star "></i>
          <p class="p4">Lorem ipsum dolor sit amet, consecteture adipiscing elit praesent vulputate vel massa quis imperdiet.Nam efficitur eros vel tortor vulputate mattis nuilam leo mauris,rhoncus.....</p>
          <div class="row div9">
            <div class="col-lg-4">
               <img src="{% static 'image/Alex-Hagstrom.jpg' %} "class="img4">
            </div>
            <div class="col-lg-4">
             <h3 class="hd6">John doe</h3>

        </div>
        </div>
       </div> 
       <div class="col-lg-4 div12">
        <i class="bi bi-star-fill icon7"></i>
        <i class="bi bi-star-fill icon7"></i>
        <i class="bi bi-star-fill icon7"></i>
        <i class="bi bi-star icon7_1"></i>
        <i class="bi bi-star icon7_1"></i>
          <p class="p4">Lorem ipsum dolor sit amet, consecteture adipiscing elit praesent vulputate vel massa quis imperdiet.Nam efficitur eros vel tortor vulputate mattis nuilam leo mauris,rhoncus.....</p>
          <div class="row div9">
            <div class="col-lg-4">
               <img src="{% static 'image/Alex-Hagstrom.jpg' %} "class="img4">
            </div>
            <div class="col-lg-4">
             <h3 class="hd6">John doe</h3>

        </div>
        </div>
       </div>
   </div>
</div>
<div class="container ct4">
   <div class="row">
      <div class="col-lg-6 col-md-6 col-sm div8_1div8_1">
          <h1 class="hd8">Exciting News And Upcoming Events</h1>
          <img src="{% static 'image/wild.jpg' %}" class="img5">
          <p class="p5">Lorem ipsum doler sitconsctors adiciping dolor elit</p>

      </div>
      <div class="col-lg-6 col-md-6 col-sm div8">
        <img src="{% static 'image/map.jpeg' %}" class="img5_1">
        <p class="p5">Lorem ipsum doler sitconsctors adiciping dolor elit</p>
      </div>
   </div>
</div>
<div class="container-fluid c11">
  <div class="row">
    <div class="col-lg-12">
      <div class="container c12">
        <div class="row"> 
            <div class="col-lg-1">
              <i class="bi bi-globe-asia-australia icon10"></i>
            </div>
            <div class="col-lg-9 div13">
              <p class="text">  Download Our Informative Brochure</b><br>Get all the details you need about ourofferings in one convient brochure</p>
            </div>
            <div class="col-lg-2 text-light butto">
              <a href="#" class="btn custom-button">
                <span class="download-icon">&#x2193;</span>
                Download
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}